* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
.indexCuerpo {
    background-color: #000001;
}
.indexTextForm {
    color: #007940;
}
.home {
    width: 100%;
    height: 50%;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-bottom: 0;
    --text: #ffffff;
    --red: #d12229;
    --orange: #f68a1e;
    --yellow: #fde01a;
    --green: #007940;
    --blue: #24408e;
    --purple: #732982;
    --font: "Lobster";
    color: var(--text);
    font-size: 50px;
    font-family: var(--font);
    font-weight: 900;
    font-kerning: normal;
    text-shadow: 2px 5px 0px var(--red),
        14px 8px 0px var(--yellow),
        18px 14px 0px var(--green),
        24px 18px 0px var(--blue),
        29px 24px 0px var(--purple);
    display: flex;
    align-items: center;
    justify-content: center;
}
.form {
    display: flex;
}
.footer {
    background-color: #000001;
    display: flex;
    width: 100%;
}
.imagenRed {
    width: 25%;
}
